In [ ]:
""" 02 수정 가능한 객체와 수정 불가능한 객체 """

In [ ]:
# 객체가 지닌(객체에 저장된) 값의 수정이 불가능한 객체를 가리켜 'immutable 객체'라 하며 대표적인
# 예로 튜플과 문자열이 있다.
# 반면 객체가 지닌 값의 수정이 가능한 객체를 가리켜 'mutable 객체'라 하며 대표적인 예로 리스트와
# 딕셔너리가 있다.
# 즉 다음 예에서 보이듯이 리스트는 지니고 있는 값을 수정할 수 있다.

In [1]:
r = [1, 2]
id(r)  # 리스트의 주소 정보 확인

1928152189184

In [2]:
r += [3, 4]  # 리스트에 값을 추가한다.
r

[1, 2, 3, 4]

In [3]:
id(r)  # 리스트의 주소가 바뀌지 않았음을 확인

1928152189184

In [4]:
# 그러나 튜플은 값을 수정할 수 없다. 따라서 튜플에 저장된 값을 수정하게 되면 다음 예에서 보이듯이
# 새로운 튜플이 만들어진다.

In [5]:
t = (1, 2)
id(t)  # 튜플의 주소 정보 확인

1928152165888

In [6]:
t += (3, 4)  # 이때 새로운 튜플이 만들어진다.
t

(1, 2, 3, 4)

In [7]:
id(t)  # t에 저장된 튜플이 바뀌었음을 확인

1928152737328

In [ ]:
""" 성격에 따라 달라지는 함수의 정의 """

In [8]:
# 그럼 이어서 다음 함수를 보자.
def add_last(m, n):
    m += n  # m에 n의 내용을 추가한다.

In [9]:
# 이는 다음과 같이 리스트에 값을 추가할 때 사용하기 위해서 만든 함수이다. 그리고 그 목적에 맞게 잘
# 동작한다.
r = [1, 2]
add_last(r, [3, 4])  # 리스트 r에 3과 4를 추가
r

[1, 2, 3, 4]

In [10]:
# 그런데 이를 보고 이 함수가 튜플을 대상으로도 잘 동작할 것으로 기대하면 안 된다. 튜플을 대상으로
# 위의 함수를 호출하면 다음과 같이 엉뚱한 결과를 얻게 된다.
t = (1, 3)
add_last(t, (5, 7))  # 튜플 t에 5와 7이 추가될 것을 기대한다.
t  #튜플에 5와 7이 추가되지 않았다.

(1, 3)

In [11]:
# 튜플에 값을 추가한 결과를 얻는 함수는 다음과 같이 만들어서 사용해야 한다.
def add_tuple(t1, t2):
    t1 += t2   # += 결과로 만들어진 새로운 튜플이 t1에 저장된다.
    return t1  # 새로 만들어진 튜플을 반환

tp = (1, 3)
tp = add_tuple(tp, (5, 7))
tp

(1, 3, 5, 7)

In [12]:
# 이 예의 min_max 함수는 리스트를 대상으로 정의된 함수이다. 이 함수에 리스트가 전달되면 그 리스트에
# 저장된 가장 큰 값과 가장 작은 값을 출력하는데, 이를 위해서 리스트의 정렬과정을 거친다.
def min_max(d):
    d.sort()  # 리스트를 오름차순으로 정렬
    print(d[0], d[-1], sep = ', ')  # 맨 앞의 값과 마지막 값을 출력
    
l = [3, 1, 5, 4]
min_max(l)

1, 5

In [13]:
l  # 원본의 저장 순서가 변경되었다.

[1, 3, 4, 5]

In [14]:
# 따라서 이러한 상황을 원치 않으면 함수내에서 리스트를 복사한 다음에 정렬을 진행해야 한다.
def min_max2(d):
    d = list(d)  # d의 내용이 담긴 새로운 리스트 생성
    d.sort()  # 원본이 아닌 복사본을 정렬한다.
    print(d[0], d[-1], sep = ', ')

l = [3, 1, 5, 4]
min_max2(l)

1, 5

In [15]:
l  # 원본이 수정되지 않았다.

[3, 1, 5, 4]

In [16]:
# 물론 위의 함수는 튜플을 대상으로도 잘 동작한다.
t = (2, 7, 5, 9, 0)
min_max2(t)

0, 9

In [17]:
t

(2, 7, 5, 9, 0)