In [ ]:
""" 11 튜플의 패킹과 언패킹 """

In [ ]:
""" 패킹과 언패킹 """

# 튜플 패킹     하나 이상의 값을 튜플로 묶는 행위
# 튜플 언패킹   튜플에 묶여 있는 값들을 풀어내는 행위

In [1]:
# 튜플 패킹
tri_one = (12, 15)  # 밑변 길이 12와 높이 길이 15를 묶어 놓은 것
tri_one

(12, 15)

In [2]:
tri_two = 23, 21  # 사실 튜플 패킹은 소괄호가 없어도 된다.
tri_two

(23, 21)

In [3]:
# 튜플 언패킹 (튜플에 저장된 값의 수와 이를 저장할 변수의 수가 일치해야 한다.)
tri_three = (12, 25)
bt, ht = tri_three  # 튜플 언패킹
print(bt, ht)

12 25

In [4]:
# 다음과 같이 언패킹 과정에서 둘 이상의 값을 리스트로 묶어서 하나의 변수에 저장하는 것도 가능
nums = (1, 2, 3, 4, 5)
n1, n2, *others = nums  # 둘 이상의 값을 리스트로 묶을 때 *를 사용한다.

In [5]:
n1

1

In [6]:
n2

2

In [7]:
others  # 이렇듯 튜플이 아닌 리스트로 묶인다는 사실을 기억하자.

[3, 4, 5]

In [8]:
# 중간의 값들을 리스트로 묶을 수도 있고,
nums = (1, 2, 3, 4, 5)
first, *others, last = nums  # 일부를 리스트로 묶을 때 *를 사용한다.

In [9]:
first

1

In [10]:
others

[2, 3, 4]

In [11]:
last

5

In [13]:
# 앞에 위치한 값을 묶을 수도 있다.
nums = (1, 2, 3, 4, 5)
*others, n1, n2 = nums  # 일부를 리스트로 묶을 때 *를 사용한다.

In [14]:
others

[1, 2, 3]

In [15]:
n1

4

In [16]:
n2

5

In [17]:
# 언패킹은 튜플만이 아니라 리스트를 대상으로도 동일하게 동작한다.
num2 = [1, 2, 3, 4, 5]
n1, n2, *others = nums  # 리스트도 언패킹 됨

In [18]:
n1

1

In [19]:
n2

2

In [20]:
others

[3, 4, 5]

In [ ]:
""" 함수 호출 및 반환 과정에서의 패킹과 언패킹 """

In [21]:
# 패킹과 언패킹은 함수의 호출과 반환 과정에서도 사용할 수 있다.
def ret_nums():
    return 1, 2, 3, 4, 5  # 튜플의 소괄호가 생략된 형태이다. 즉 패킹되어 반환 됨

In [22]:
nums = ret_nums()
nums

(1, 2, 3, 4, 5)

In [23]:
# 함수의 반환 값을 다음과 같이 저장할 수도 있다.
n, *others = ret_nums()  # 반환되는 값이 언패킹 되어 변수들에 저장

In [24]:
n

1

In [25]:
others  # 리스트로 묶였다.

[2, 3, 4, 5]

In [34]:
# 다음과 같은 형태의 매개변수 선언도 가능
def show_nums(n1, n2, *other):  # 세 번째 이후 값들은 튜플로 묶여 other에 저장
    print(n1, n2, other, sep = ', ')

In [35]:
show_nums(1, 2, 3, 4)

1, 2, (3, 4)

In [36]:
show_nums(1, 2, 3, 4, 5)

1, 2, (3, 4, 5)

In [29]:
# 위와 같이 매개변수 앞에 *가 오면 이는 다음을 의미한다.
# "나머지 값들은 튜플로 묶어서 이 변수에 저장하겠다."

In [30]:
# 그래서 다음과 같이 전달되는 값의 수에 상관없이 모든 정수의 합을 계산해서 반환하는 함수도 만들 수 있다.
def sum(*nums):  # 전달되는 모든 값들을 하나의 튜플로 묶어서 nums에 저장
    s = 0
    for i in nums:
        s += i
    return s

In [31]:
sum(1, 2, 3)

6

In [32]:
sum(1, 2, 3, 4)

10

In [33]:
sum(1, 2, 3, 4, 5)

15

In [38]:
# 반면 다음과 같이 '함수를 호출할 때 *가 사용되면' 이는 튜플 언패킹으로 이어진다.
# 이렇듯 *은 사용되는 위치에 따라서 패킹을 의미하기도 하고 언패킹을 의미하기도 한다.
def show_man(name, age, height):
    print(name, age, height, sep = ', ')

In [39]:
p = ("Yoon", 22, 180)  # 180cm의 22세 Yoon군
show_man(*p)  # p에 담긴 값을 풀어서 각각의 매개변수에 전달!

Yoon, 22, 180

In [40]:
# 위의 함수 호출 과정에서 보인 언패킹은 리스트를 대상으로도 동작한다.
p = ["Park", 21, 177]
show_man(*p)  # 리스트를 전달하는데 *을 붙인 상황

Park, 21, 177

In [41]:
# 튜플 안에 또 다른 튜플이 존재하는 경우의 언패킹 방법
t = (1, 2, (3, 4))  # 튜플 안에 튜플이 있다.
a, b, (c, d) = t  # 튜플 안의 값의 구조와 동일한 형태로 변수를 선언
print(a, b,c, d, sep = ', ')

1, 2, 3, 4

In [42]:
# 일부 값만 출력하는 경우
p = "Hong", (32, 178), "010-1234-56XX", "Korea"  # 튜플에 소괄호 생략
na, (ag, he), ph, ad = p
print(na, he)

Hong 178

In [43]:
# 일부 값만 출력하는 경우 2
na, (_, he), _, _ = p  # 불필요한 정보는 '_'를 사용하여 생략할 수 있다.
print(na, he)

Hong 178

In [ ]:
""" for 루프에서의 언패킹 """

In [45]:
ps = [("Lee", 172), ("Jung", 182), ("Yoon", 179)]  # 리스트에 담긴 튜플
for n, h in ps:
    print(n, h, sep = ', ')

Lee, 172
Jung, 182
Yoon, 179

In [46]:
ps = (["Lee", 172], ["Jung", 182], ["Yoon", 179])  # 튜플에 담긴 리스트
for n, h in ps:
    print(n, h, sep = ', ')

Lee, 172
Jung, 182
Yoon, 179