In [ ]:
""" 19 정렬 기술 """

In [1]:
ns = [3, 1, 4, 2]
ns.sort() # 기본 오름차순 정렬이 진행된다.
ns

[1, 2, 3, 4]

In [2]:
ns = [3, 1, 4, 2]
ns.sort(reverse=True) # 내림차순 정렬을 위한 True의 전달
ns

[4, 3, 2, 1]

In [3]:
ns = [('Yoon', 33), ('Lee', 12), ('Park', 29)]

def age(t):
    return t[1] # 나이 반환하는 함수

ns.sort(key=age) # 매개변수 key에 함수 age를 전달
ns

[('Lee', 12), ('Park', 29), ('Yoon', 33)]

In [4]:
# 나이를 기준으로 내림차순 정렬
ns.sort(key=age, reverse=True) # 위에서 정의한 함수와 리스트를 대상으로 작성
ns

[('Yoon', 33), ('Park', 29), ('Lee', 12)]

In [5]:
ns = [('Yoon', 33), ('Lee', 12), ('Park', 29)]

def name(t):
    return t[0] # 이름을 반환

ns.sort(key=name)
ns

[('Lee', 12), ('Park', 29), ('Yoon', 33)]

In [7]:
ns = [('Yoon', 33), ('Lee', 12), ('Park', 29)]
ns.sort(key=lambda t: t[1], reverse=True) # 이름의 알파벳 역순으로 정렬
ns

[('Yoon', 33), ('Park', 29), ('Lee', 12)]

In [8]:
names = ['Julia', 'Yoon', 'Steven']
names.sort(key=len)
names

['Yoon', 'Julia', 'Steven']

In [9]:
nums = [(3, 1), (2, 9), (0, 5)]
nums.sort(key=lambda t: t[0] + t[1], reverse=True)
nums

[(2, 9), (0, 5), (3, 1)]

In [ ]:
""" sorted 함수 사용하기 """

In [10]:
org = [('Yoon', 33), ('Lee', 12), ('Park', 29)] # (이룸, 나이)
cpy = sorted(org, key=lambda t: t[1], reverse=True) # 나이 기준 내림차순 정렬

In [11]:
org # 원본이 유지된다.

[('Yoon', 33), ('Lee', 12), ('Park', 29)]

In [12]:
cpy # 정렬된 사본이 생성되었다.

[('Yoon', 33), ('Park', 29), ('Lee', 12)]

In [13]:
org = (3, 1, 2)
cpy = sorted(org)

In [14]:
org

(3, 1, 2)

In [15]:
cpy # 정렬 결과는 리스트에 담긴다.

[1, 2, 3]

In [16]:
org = (3, 1, 2)
cpy = tuple(sorted(org))

In [17]:
org

(3, 1, 2)

In [18]:
cpy

(1, 2, 3)

In [19]:
org = ('321', '214', '197')
cpy = tuple(sorted(org, key=lambda s: int(s[0])))
cpy

('197', '214', '321')