### 3장. 데이터 핸들링 패키지: 판다스

3.2 인덱싱과 슬라이싱

<u>인덱서: loc와 iloc</u>

시리즈의 인덱싱과 슬라이싱

In [1]:
import pandas as pd

S = pd.Series(['A', 'B', 'C', 'D'], index=[1, 3, 5, 7])
display(S)

1    A
3    B
5    C
7    D
dtype: object

In [2]:
display(S.loc[1])   # 인덱스가 1인 요소를 출력
display(S.loc[5:7]) # 인덱스가 5부터 7인 요소를 출력
display(S.loc[5])   # 인덱스가 5인 요소를 출력

'A'

5    C
7    D
dtype: object

'C'

In [3]:
display(S.iloc[0])   # 0번째 위치의 요소를 출력
display(S.iloc[1:3]) # 1번째 위치부터 3번재 위치까지의 요소를 출력

'A'

3    B
5    C
dtype: object

데이터프레임의 인덱싱과 슬라이싱

In [5]:
df = pd.DataFrame(
    { 'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40], 'C': [5, 6, 7, 8] }, index=[1, 3, 5, 7]
)

display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

In [8]:
display(df.loc[1])  # 인덱스가 1인 행을 출력
display(df.loc[5])  # 인덱스가 5인 행을 출력
display(df.iloc[0]) # 0번째 위치에 있는 행을 출력
display(df.iloc[1]) # 1번째 위치에 있는 행을 출력

A     1
B    10
C     5
Name: 1, dtype: int64

A     3
B    30
C     7
Name: 5, dtype: int64

A     1
B    10
C     5
Name: 1, dtype: int64

A     2
B    20
C     6
Name: 3, dtype: int64

In [9]:
display(df.loc[1:3])
display(df.iloc[0:1])

   A   B  C
1  1  10  5
3  2  20  6

   A   B  C
1  1  10  5

In [10]:
print(df.loc[1, 'A']) # 1행 A열 출력(명시적 인덱스 참고)
print(df.loc[3, 'B']) # 3행 B열 출력(명시적 인덱스 참고)
print(df.iloc[0, 1])  # 0행 1열 출력(명시적 인덱스 참고)
print(df.iloc[1, 2])  # 1행 2열 출력(명시적 인덱스 참고)

1
20
10
6

요소 추가

In [11]:
S.loc[9] = 'E'

display(S)

1    A
3    B
5    C
7    D
9    E
dtype: object

In [12]:
df.loc[9] = [5, 50, 9]

display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8
9  5  50  9

In [13]:
S.loc[1] = 'F'

display(S)

1    F
3    B
5    C
7    D
9    E
dtype: object