### 3.4 주식 비교하기

3.4.1 야후 파이낸스로 주식 시세 구하기

In [1]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

sec = pdr.get_data_yahoo('005930.KS', start='2018-05-04')
msft = pdr.get_data_yahoo('MSFT', start='2018-05-04')

sec.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2018-05-04  53000.0  53900.0  51800.0  51900.0  44598.582031  39565391
2018-05-08  52600.0  53200.0  51900.0  52600.0  45200.113281  23104720
2018-05-09  52600.0  52800.0  50900.0  50900.0  43739.269531  16128305
2018-05-10  51700.0  51700.0  50600.0  51600.0  44340.796875  13905263
2018-05-11  52000.0  52200.0  51200.0  51300.0  44083.000000  10314997
2018-05-14  51000.0  51100.0  49900.0  50100.0  43051.820312  14909272
2018-05-15  50200.0  50400.0  49100.0  49200.0  42278.429688  18709146
2018-05-16  49200.0  50200.0  49150.0  49850.0  42836.984375  15918683
2018-05-17  50300.0  50500.0  49400.0  49400.0  42450.296875  10365440
2018-05-18  49900.0  49900.0  49350.0  49500.0  42536.222656   6706570

In [2]:
tmp_msft = msft.drop(columns='Volume')
tmp_msft.tail()

                  Open        High         Low       Close   Adj Close
Date
2023-07-24  345.850006  346.920013  342.309998  345.109985  345.109985
2023-07-25  347.109985  351.890015  345.070007  350.980011  350.980011
2023-07-26  341.440002  344.670013  333.109985  337.769989  337.769989
2023-07-27  340.480011  341.329987  329.049988  330.720001  330.720001
2023-07-28  333.670013  340.010010  333.170013  338.369995  338.369995

In [3]:
sec.index

DatetimeIndex(['2018-05-04', '2018-05-08', '2018-05-09', '2018-05-10',
               '2018-05-11', '2018-05-14', '2018-05-15', '2018-05-16',
               '2018-05-17', '2018-05-18',
               ...
               '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20',
               '2023-07-21', '2023-07-24', '2023-07-25', '2023-07-26',
               '2023-07-27', '2023-07-28'],
              dtype='datetime64[ns]', name='Date', length=1289, freq=None)

In [4]:
sec.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')