### 3.2 데이터프레임

3.2.1 데이터프레임 만들기와 수정하기

In [2]:
import pandas as pd

In [3]:
dict_data = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(dict_data)

df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df3 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['index1', 'index2', 'index3'], columns=['col1', 'col2', 'col3'])

df3

        col1  col2  col3
index1     1     2     3
index2     4     5     6
index3     7     8     9

In [7]:
df3.index = ['행 1', '행 2', '행 3']
df3.columns = ['열 1', '열 2', '열 3']

df3

     열 1  열 2  열 3
행 1    1    2    3
행 2    4    5    6
행 3    7    8    9

In [9]:
df3.rename(index={'행 1': '첫 번째 행'}, inplace=True)
df3.rename(columns={'열 1': '첫 번째 열'}, inplace=True)

df3

        첫 번째 열  열 2  열 3
첫 번째 행       1    2    3
행 2          4    5    6
행 3          7    8    9

In [11]:
df3.drop('행 3', axis=0, inplace=True)
df3.drop('열 3', axis=1, inplace=True)

df3

        첫 번째 열  열 2
첫 번째 행       1    2
행 2          4    5

3.2.2 열과 행 선택하기

In [12]:
dict_data = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8], 'col3': [9, 10, 11, 12], 'col4': [13, 14, 15, 16]}
df = pd.DataFrame(dict_data, index=['index1', 'index2', 'index3', 'index4'])

df

        col1  col2  col3  col4
index1     1     5     9    13
index2     2     6    10    14
index3     3     7    11    15
index4     4     8    12    16

In [13]:
df['col1']

index1    1
index2    2
index3    3
index4    4
Name: col1, dtype: int64

In [14]:
df.col1

index1    1
index2    2
index3    3
index4    4
Name: col1, dtype: int64

In [15]:
type(df['col1'])

pandas.core.series.Series

In [16]:
df[['col1']]

        col1
index1     1
index2     2
index3     3
index4     4

In [17]:
type(df[['col1']])

pandas.core.frame.DataFrame

In [18]:
df[['col1', 'col2']]

        col1  col2
index1     1     5
index2     2     6
index3     3     7
index4     4     8

In [19]:
df.loc['index1']

col1     1
col2     5
col3     9
col4    13
Name: index1, dtype: int64

In [20]:
df.iloc[0]

col1     1
col2     5
col3     9
col4    13
Name: index1, dtype: int64

In [21]:
type(df.loc['index1'])

pandas.core.series.Series

In [22]:
df.loc[['index1']]

        col1  col2  col3  col4
index1     1     5     9    13

In [23]:
df.iloc[[0]]

        col1  col2  col3  col4
index1     1     5     9    13

In [24]:
df.loc['index1': 'index3']

        col1  col2  col3  col4
index1     1     5     9    13
index2     2     6    10    14
index3     3     7    11    15

In [25]:
df.iloc[0:2]

        col1  col2  col3  col4
index1     1     5     9    13
index2     2     6    10    14

In [27]:
df.loc['index1', 'col1']

1

In [28]:
df.loc[['index1', 'index3'], ['col1', 'col4']]

        col1  col4
index1     1    13
index3     3    15

In [29]:
df.loc['index1':'index2', 'col1':'col3']

        col1  col2  col3
index1     1     5     9
index2     2     6    10

In [30]:
df.iloc[0, 0]

1

In [31]:
df.iloc[[0, 2], [0, 3]]

        col1  col4
index1     1    13
index3     3    15

In [32]:
df.iloc[0:2, 0:3]

        col1  col2  col3
index1     1     5     9
index2     2     6    10