### 3.8 새로운 열 만들기

In [1]:
import seaborn as sns

df = sns.load_dataset('mpg')

df['ratio'] = (df['mpg'] / df['weight']) * 100
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,ratio
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.513699
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.406174
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.523865
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.466065
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.492896

In [2]:
import numpy as np
import pandas as pd

num = pd.Series([-2, -1, 1, 2])
np.where(num >= 0)

(array([2, 3], dtype=int64),)

In [3]:
np.where(num >= 0, '양수', '음수')

array(['음수', '음수', '양수', '양수'], dtype='<U2')

In [4]:
df['horse_power_div'] = np.where(df['horsepower'] < 100, '100 미만', np.where((df['horsepower'] >= 100) & (df['horsepower'] < 200), '100 이상', np.where(df['horsepower'] >= 200, '200 이상', '기타')))
df.head(8)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,ratio,horse_power_div
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.513699,100 이상
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.406174,100 이상
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.523865,100 이상
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.466065,100 이상
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.492896,100 이상
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500,0.345543,100 이상
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala,0.321543,200 이상
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii,0.324675,200 이상