In [ ]:
""" 09-4 말이 나온 김에 리스트 안에 저장된 데이터를 바꿔보자 """

In [1]:
# 앞서 튜플을 설명하면서 다음 모양의 리스트를 만든 적이 있다.
frns = [['동수', 131120], ['진우', 133012], ['선영', 130904]]

In [2]:
# 이 상태에서 진우의 정보를 대산해서 그 위치에 수진의 정보를 넣으려면 다음과 같이 하면 된다.
frns[1] = ['수진', 131122]
frns

[['동수', 131120], ['수진', 131122], ['선영', 130904]]

In [4]:
frns[1][0]

'수진'

In [5]:
frns[1][1]

131122

In [6]:
# 수진의 생년월일 수정
frns[1][1] = 130102
frns

[['동수', 131120], ['수진', 130102], ['선영', 130904]]

In [7]:
# 다음과 같이 튜플이 저장된 리스트가 있다면,
frns = [('동수', 131120), ('진우', 133012), ('선영', 130904)]

In [8]:
# 동수의 이름과 생년월일 정보를 각각 출력하는 것이 가능하다.

In [9]:
frns[0][0]

'동수'

In [10]:
frns[0][1]

131120

In [11]:
# 리스트에 저장된 튜플 하나를 교체하는 것은 얼마든지 가능하다.
frns = [('동수', 131120), ('진우', 133012), ('선영', 130904)]

In [12]:
frns[0] = ('준현', 140101)  # '동수 튜플'을 대신해서 '준현 튜플'을 저장
frns

[('준현', 140101), ('진우', 133012), ('선영', 130904)]