In [ ]:
""" 12-2 딕셔너리의 데이터 참조, 수정, 추가, 삭제 """

In [1]:
dc = {
    '코카콜라': 900,     # 코카콜라 900원
    '바나나맛우유': 750,  # 바나나맛우유 750원
    '비타500': 600,      # 비타500 600원
    '삼다수': 450         # 삼다수 450원 
}

In [2]:
# "삼다수의 가격이 얼마야?"
v = dc['삼다수']  # '삼다수'에 해당하는 값을 꺼내옴, 이때 '삼다수가' 열쇠임
v

450

In [3]:
dc['삼다수'] = 550  # '삼다수'의 값을 550으로 수정
dc

{'코카콜라': 900, '바나나맛우유': 750, '비타500': 600, '삼다수': 550}

In [4]:
dc['삼다수'] += 100  # '삼다수'에 해당하는 값을 100 증가
dc

{'코카콜라': 900, '바나나맛우유': 750, '비타500': 600, '삼다수': 650}

In [5]:
# 그럼 이번에는 데이터를 추가해 보자. 편의점에서 판매하는 음료 품목에 다음 제품이 추가되었다. 그래서
# 이 정보를 딕셔너리에 담아야 하는 상황이다.
#  - 음료 이름: 카페라떼
#  - 음료 가격: 1300원
#
# 그렇다면 다음과 같이 하면 된다.

In [6]:
dc['카페라떼'] = 1300  # 이 경우에는 데이터의 추가로 이어진다.
dc

{'코카콜라': 900, '바나나맛우유': 750, '비타500': 600, '삼다수': 650, '카페라떼': 1300}

In [7]:
# 딕셔너리에서 정보를 삭제해야 한다면 다음과 같이 하면 된다.

In [8]:
del dc['비타500']  # '비타500'에 대한 정보 삭제
dc

{'코카콜라': 900, '바나나맛우유': 750, '삼다수': 650, '카페라떼': 1300}