In [1]:
from collections import namedtuple

In [2]:
data = [
    ('홍길동', 23, '01099990001'),
    ('김철수', 31, '01099991002'),
    ('이영희', 29, '01099992003'),
]

In [3]:
Employee = namedtuple('Employee', 'name, age, cellphone')

In [4]:
data = [Employee(emp[0], emp[1], emp[2]) for emp in data]
# data = [Employee._make(emp) for emp in data]

In [5]:
emp = data[0]  # 첫번째 직원
emp.name

'홍길동'

In [6]:
emp.age

23

In [7]:
emp.cellphone

'01099990001'

In [8]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [9]:
emp[0]

'홍길동'

In [10]:
emp[1]

23

In [11]:
emp[2]

'01099990001'

In [12]:
emp.name = '박길동'

AttributeError: can't set attribute

In [13]:
new_emp = emp._replace(name='박길동')  # 값을 변경한 새로운 객체를 반환
new_emp

Employee(name='박길동', age=23, cellphone='01099990001')